.App {
  text-align: center;
  font-family: Arial, sans-serif;

}

h3 {
  margin-top: 20px;
  color:rgb(250, 165, 165)
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.card-title {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: blue;
}

.card-text {
  font-size: 1.25em;
  color: #2a9d8f;
  margin-bottom: 20px;
  color: darkgreen;
}

.card-description {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
}

.card-image img {
  max-width: 200%;
  border-radius: 25px;
}

